<div class="p-6 min-h-full space-y-4">

  <div class="p-6 mb-7 card bg-base-100 shadow-md flex flex-col items-start">
    <h1 class="text-2xl font-bold text-base-content">Calendario de Actividades</h1>
    <p class="text-gray-600">Vea y controle las multiples actividades dentro del mes actual.</p>
  </div>


  <!-- calendar.component.html -->
  <div class="flex justify-center px-4 sm:px-6 lg:px-8 text-base-content">

    <div class="bg-base-100 rounded-lg shadow-md p-4 sm:p-6 w-full max-w-6xl">

      <!-- Header -->
      <div class="flex flex-col sm:flex-row items-center justify-around mb-4 gap-2 sm:gap-0">
        <button (click)="prevMonth()" class="btn btn-circle btn-ghost text-gray-500  hover:bg-primary hover:text-white sm:text-base">
          <i class="fa-solid fa-arrow-left text-2xl "></i>
        </button>
        <h2 class="text-xl font-bold text-base-content text-center">
          {{ currentMonthName }} {{ year }}
        </h2>
        <button (click)="nextMonth()" class="btn btn-circle btn-ghost text-gray-500 hover:bg-primary hover:text-white sm:text-base">
          <i class="fa-solid fa-arrow-right text-2xl"></i>
        </button>
      </div>

      <!-- Days of Week -->
      <div class="grid grid-cols-7 gap-1 sm:gap-2 text-center text-gray-600 font-semibold text-xs sm:text-sm">
        @for (day of days; track $index) {
        <div class="uppercase tracking-wide">
          {{ day }}
        </div>
        }
      </div>

      <!-- Calendar Days -->
      <div class="grid grid-cols-7 gap-1 sm:gap-2 mt-2 text-xs sm:text-sm">

        <!-- Empty Days -->
        @for (_ of emptyDays; track $index) {
        <div class="h-20 sm:h-24"></div>
        }

        <!-- Actual Days -->
        @for (date of numOfDays; track $index) {
        <div class="relative h-20 sm:h-24 border rounded-lg p-1 sm:p-2 flex flex-col items-start justify-start"
          [class]="{ 'bg-blue-100 border-blue-400': isToday(date) }">
          <div class="text-sm font-bold">{{ date }}</div>

          @for (event of events; track $index) {
          <div class="absolute top-6 left-0 right-0 px-1">
            @if (event.event_date.getDate() === date && event.event_date.getMonth() === month) {
            <div class="text-[10px] sm:text-xs rounded px-1 py-0.5 border text-center truncate"
              [class]="eventClass(event.event_theme)">
              {{ event.event_title }}
            </div>
            }
          </div>
          }
        </div>
        }

      </div>
    </div>
  </div>
</div>
