<div class="p-6 bg-gray-50 min-h-screen">
  <!-- Header -->
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Gestión de Partícipes</h2>
    <button class="btn btn-primary bg-[#0a1a35] hover:bg-[#13244a] border-none" (click)="abrirModal()">
      + Crear Nuevo Participe
    </button>
  </div>

  <app-participes-modal
    [mostrarModal]="mostrarModal"
    (modalCerrado)="cerrarModal()"
    (participeCreado)="cargarDatos()">
  </app-participes-modal>

  <!-- Modal Form -->
  <!-- <dialog id="my_modal_1" class="modal text-white">
    <expediente-modal [formExpediente]="formExpediente" (submitForm)="onSubmitExpediente()" />
  </dialog> -->


  <!-- Buscador -->
  <div class="flex justify-between items-center mb-4">
    <input type="text"
      class="input input-bordered w-full max-w-xs bg-base-100 text-white rounded-md h-11 pl-10 pr-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      placeholder="Buscar por cualquier campo..." [(ngModel)]="filtro">

  </div>


  <!-- Tabla -->
  <div class="overflow-x-auto bg-white shadow rounded-lg ">
    <table class="table w-full">
      <thead class="bg-gray-100 text-base-100">
        <tr>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Rol de Usuario</th>
          <th>Rol en el Proceso</th>
          <th>Estado</th>
          <th>Teléfono</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (loading) {
        <tr>
          <td colspan="7" class="text-center py-4">Cargando participes...</td>
        </tr>
        }

        @if (!loading && participes.length === 0) {
        <tr>
          <td colspan="8" class="text-center py-4 text-gray-500">
            No hay partícipes registrados.
          </td>
        </tr>
        }

        @for (p of participes; track $index) {
        <tr class="hover">
          <td>{{ p.usuario?.nombre }} {{ p.usuario?.apellidos }}</td>
          <td>{{ p.usuario?.correo }}</td>
          <td>{{ p.usuario?.rol }}</td>
          <td>{{ p.rol_participe }}</td>
          <td>
            <span [ngClass]="{
                  'bg-green-600': p.estado === 'Activo',
                  'bg-red-600': p.estado === 'Inactivo'
                }" class="text-white px-3 py-1 rounded-full text-sm">
              {{ p.estado }}
            </span>
          </td>
          <td>{{ p.telefono || '-' }}</td>
          <td>{{ p.cargo || '-' }}</td>
          <td class="space-x-2">
            <button class="btn btn-sm bg-blue-500 hover:bg-blue-600 text-white">
              <i class="bi bi-eye"></i> Ver
            </button>
            <button class="btn btn-sm bg-yellow-500 hover:bg-yellow-600 text-white">
              <i class="bi bi-pencil"></i> Editar
            </button>
            <button class="btn btn-sm bg-red-500 hover:bg-red-600 text-white">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </td>
        </tr>
        }

      </tbody>
    </table>

    <!-- Paginación -->
    <div class="flex justify-end items-center p-4 border-t bg-gray-50 text-sm">
      <span>Página 1 de 1</span>
      <div class="join ml-4">
        <button class="join-item btn btn-sm" disabled>Anterior</button>
        <button class="join-item btn btn-sm">Siguiente</button>
      </div>
    </div>
  </div>

  <!-- MODAL CREAR PARTICIPE -->
  <!-- @if (mostrarModal) {
  <div class="modal modal-open">
    <div class="modal-box bg-base-100 text-base-content rounded-2xl shadow-lg">

      <div class="flex justify-between items-center border-b border-base-300 pb-3 mb-4">
        <h3 class="text-xl font-semibold">Crear Nuevo Usuario</h3>
        <button type="button" (click)="cerrarModal()" class="btn btn-sm btn-ghost text-xl">&times;</button>
      </div>


      <form [formGroup]="formParticipe" (ngSubmit)="crearParticipe()" class="space-y-4">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Nombre</span>
            </label>
            <input type="text" formControlName="nombre" placeholder="Ej. Juan" class="input input-bordered w-full" />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Apellidos</span>
            </label>
            <input type="text" formControlName="apellidos" placeholder="Ej. Pérez López"
              class="input input-bordered w-full" />
          </div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Correo</span>
          </label>
          <input type="email" formControlName="correo" placeholder="ejemplo@correo.com"
            class="input input-bordered w-full" />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label>
          <input type="password" formControlName="password" placeholder="********"
            class="input input-bordered w-full" />
        </div>



        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-4">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Tipo de Persona</span>
            </label>
            <select formControlName="tipo_persona" class="select select-bordered w-full">
              <option value="" disabled selected>Seleccione tipo</option>
              <option value="Natural">Natural</option>
              <option value="Jurídica">Jurídica</option>
            </select>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Documento de Identidad</span>
            </label>
            <input type="text" formControlName="documento_identidad" placeholder="DNI / RUC"
              class="input input-bordered w-full" />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Razón Social</span>
            </label>
            <input type="text" formControlName="razon_social" placeholder="Ej. Empresa SAC"
              class="input input-bordered w-full" />
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Teléfono</span>
            </label>
            <input type="text" formControlName="telefono" placeholder="987654321" class="input input-bordered w-full" />
          </div>

          <div class="form-control md:col-span-2">
            <label class="label">
              <span class="label-text">Dirección</span>
            </label>
            <input type="text" formControlName="direccion" placeholder="Av. Ejemplo 123"
              class="input input-bordered w-full" />
          </div>
        </div>



        <div class="modal-action">
          <button type="button" class="btn btn-ghost" (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="btn bg-primary text-white hover:bg-primary-focus"
            [disabled]="formParticipe.invalid">
            Guardar Usuario
          </button>
        </div>
      </form>

    </div>

    <div class="modal-backdrop bg-black/40 " (click)="cerrarModal()"></div>
  </div>
  } -->
</div>
