<section class="relative w-full min-h-screen">

  <!-- Fondo -->
  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');">
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40  "></div>

    <!-- Contenido centrado -->
    <div
      class="relative flex flex-col items-center justify-start min-h-screen px-4 sm:px-6 md:px-10 lg:px-20 xl:px-40 py-10">

      <h1 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mt-8 ">
        ORGANO DECISORIO
      </h1>

      <h3 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mt-15 mb-10 ">
        Director
      </h3>

      <!-- Contenedor centrado -->
      <div class="flex justify-center w-full">
        <div
          class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
          <figure class="px-5 pt-5">
            <!-- <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
          </figure>
          <div class="card-body items-center text-center">
            <h3 class="card-title text-2xl font-semibold text-info ">
              Abog. ZULMA NINOSKA ARENAS HUALLPAMAITA
            </h3>
            <p class=" text-gray-500 mb-2 text-lg font-bold">
              Director del Centro de Arbitraje
            </p>
            <p class=" text-gray-500 mb-2 text-lg font-bold">DNI: 41951578</p>
            <p class="text-base text-gray-600 leading-relaxed">
              Abogada, con mas de 10 años de experiencia en el derecho administrativo, especialista en contrataciones
              con el Estado y arbitrajes.
            </p>
            <!-- <div class="card-actions mt-4">
              <button class="btn btn-info btn-sm">

                <a href="/hoja_vida">
                  <i class="fa-solid fa-eye"></i> Ver Perfil
                </a>



              </button>
            </div> -->
          </div>
        </div>
      </div>


      <!-- <h3 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mt-20 mb-16 ">
        ORGANO DE GESTION
      </h3> -->
      <!-- Contenedor de cards -->
      <div class="grid gap-32 md:grid-cols-2 lg:grid-cols-2 pt-10">
        <!-- Contenedor centrado -->
        <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <!-- <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title text-2xl font-semibold text-info">
                Abog. GORKI BARAZORDA LUNA
              </h3>
              <p class=" text-gray-500 mb-2 text-lg font-bold">
                Miembro 1 – consejero 1
              </p>
              <P class=" text-gray-500 mb-2 text-lg font-bold">DNI: 42040137</P>
              <p class="text-base text-gray-600 leading-relaxed">
                Abogado, con más de 10 años de experiencia en el derecho administrativo, especialista en contrataciones
                con el Estado y arbitrajes.
              </p>
              <!-- <div class="card-actions mt-4">
                <button class="btn btn-info btn-sm">


                  <a href="/hoja_vida">
                    <i class="fa-solid fa-eye"></i> Ver Perfil
                  </a>

                </button>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Contenedor centrado -->
        <!-- <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" />
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title text-2xl  font-semibold text-info">
                Dr. Fernando Ordoñez Chambi
              </h3>
              <p class=" text-gray-500 mb-2 text-lg font-bold">
                Director del Centro de Arbitraje
              </p>
              <p class="text-base text-gray-600 leading-relaxed">
                Con amplia experiencia en resolución de conflictos y arbitraje
                institucional, lidera el centro promoviendo la transparencia y
                eficiencia en los procesos.
              </p>
              <div class="card-actions mt-4">
                <button class="btn btn-info btn-sm">


                  <a href="/hoja_vida">
                    <i class="fa-solid fa-eye"></i> Ver Perfil
                  </a>

                </button>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Contenedor centrado -->
        <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <!-- <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title text-2xl  font-semibold text-info">
                Abog. YURI JUSTO BOCANGEL LETONA
              </h3>

              <p class=" text-gray-500 mb-2 text-lg font-bold">
                Miembro 2 – consejero 2
              </p>
              <p class=" text-gray-500 mb-2 text-lg font-bold">DNI: 40975093</p>
              <p class="text-base text-gray-600 leading-relaxed">
                Abogado, con más de 10 años de experiencia en el derecho administrativo, especialista en contrataciones
                con el Estado y arbitrajes.
              </p>
              <!-- <div class="card-actions mt-4">
                <button class="btn btn-info btn-sm">

                  <a href="/hoja_vida">
                    <i class="fa-solid fa-eye"></i> Ver Perfil
                  </a>

                </button>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Puedes duplicar más cards según sea necesario -->
      </div>





      <h3 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mt-20 mb-16">
        ORGANO DE GESTION
      </h3>

      <!-- Contenedor de cards -->
      <div class="grid gap-32 md:grid-cols-3 lg:grid-cols-3 mb-20">

        <!-- Contenedor centrado -->
        <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <!-- <img src="assets/fotos/foto2.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title text-2xl  font-semibold text-info">
                Abog. ROSA TERRAZAS HERRERA
              </h3>
              <p class="text-gray-500 mb-2 text-lg font-bold">
                Secretaria General
              </p>
              <p class=" text-gray-500 mb-2 text-lg font-bold">DNI: 48027829</p>
              <p class="text-base text-gray-600 leading-relaxed">
                Abogada, con mas de 05 años de experiencia en derecho administrativo, especialista en contrataciones con
                el Estado y arbitrajes.
              </p>
              <!-- <div class="card-actions mt-4">
                <button class="btn btn-info btn-sm"> <a href="/hoja_vida">
                    <i class="fa-solid fa-eye"></i> Ver Perfil
                  </a></button>
                <button class="btn btn-info btn-sm"><i class="fa-solid fa-laptop"></i>Funcion</button>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Contenedor centrado -->
        <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <!-- <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title text-2xl  font-semibold text-info">
                Abog. LUCY YADIRA ORCCOSUPA BALLON
              </h3>
              <p class=" text-gray-500  mb-2 text-lg font-bold">
                Secretaria Arbitral.
              </p>
              <p class=" text-gray-500 mb-2 text-lg font-bold">DNI: 48106292</p>
              <p class="text-base text-gray-600 leading-relaxed">
                Abogada, con experiencia en derecho administrativo, especialista en contrataciones con el Estado y
                arbitrajes.
              </p>
              <!-- <div class="card-actions mt-4">
                <button class="btn btn-info btn-sm"> <a href="/hoja_vida">
                    <i class="fa-solid fa-eye"></i> Ver Perfil
                  </a></button>
                <button class="btn btn-info btn-sm"><i class="fa-solid fa-laptop"></i>Funcion</button>
              </div> -->
            </div>
          </div>
        </div>

        <div class="flex justify-center w-full">
          <div
            class="card bg-base-200 shadow-xl hover:shadow-2xl transition-all duration-300 rounded-2xl max-w-md w-full">
            <figure class="px-5 pt-5">
              <!-- <img src="assets/fotos/foto1.jpeg" alt="Director del centro" class="rounded-xl object-cover" /> -->
            </figure>
            <div class="card-body items-center text-center">
              <h3 class="card-title  text-2xl text-info font-semibold ">
                Abog. CRISTIAN NICOLAE GARCIA HUAYPAR
              </h3>
              <p class=" text-gray-500 mb-2  text-lg font-bold">
                Secretario técnico
              </p>
              <p class=" text-gray-500 mb-2 text-lg font-bold">DNI: 70919981</p>
              <p class="text-base text-gray-600 leading-relaxed">
                Abogado, con más de 03 años de experiencia en derecho administrativo, especialista en contrataciones con
                el Estado y arbitrajes.
              </p>
              <!-- <div class="card-actions mt-4">
              <button class="btn btn-info btn-sm"> <a href="/hoja_vida">
                  <i class="fa-solid fa-eye"></i> Ver Perfil
                </a></button>
              <button class="btn btn-info btn-sm"><i class="fa-solid fa-laptop"></i>Funcion</button>
            </div> -->
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
