<div class="p-4 min-h-full bg-base-300 text-base-content overflow-auto transition-colors duration-300">

  <!-- Contenedor de tabs -->
  <div class="tabs tabs-lifted w-full mb-6">
    <!-- TAB 1 -->
    <input type="radio" name="my_tabs_2" id="tab1" class="tab peer/tab1 hidden" checked />
    <label for="tab1"
      class="tab tab-lifted text-xl cursor-pointer peer-checked/tab1:bg-info peer-checked/tab1:text-white peer-checked/tab1:font-bold text-base-content transition-colors">
      Pendientes
    </label>

    <div
      class="tab-content border-base-300 bg-base-100 p-6 rounded-b-xl shadow-md peer-checked/tab1:block transition-all duration-300">

      <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-base-content">Solicitudes Pendientes</h2>
      </div>


      <!-- MODALES -->
      <solicitud-detail [mostrarModal]="mostrarDetalle" [tramite]="tramiteDetalle" (cerrar)="cerrarDetalle()">
      </solicitud-detail>

      <solicitud-aprobado [visible]="tipoModal === 'estado'" [tramite]="tramiteSeleccionado" (cerrar)="cerrarModal()"
        (aprobar)="aprobarSolicitud()" (rechazar)="rechazarSolicitud($event)">
      </solicitud-aprobado>

      <!-- CONTENEDOR PRINCIPAL -->
      <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4">

        <!--  BUSCADOR -->
        <div class="flex flex-col md:flex-row gap-4 items-center w-full md:w-auto">

          <!-- Filtro Tipo Arbitraje -->
          <select class="select select-bordered h-11 bg-base-100 text-base-content " [(ngModel)]="filtroTipo"
            (change)="aplicarFiltros()">
            <option value="">Todos los tipos</option>
            <option *ngFor="let t of tiposTramite" [value]="t">{{ t }}</option>
          </select>

          <!-- Input buscar -->
          <div class="relative w-full md:max-w-xs">
            <input type="text" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-2 text-sm
                 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Buscar..."
              [(ngModel)]="filtroSearch" (input)="aplicarFiltros()" />
            <i class="fa-solid fa-magnifying-glass absolute left-3 top-3 text-base-content/60"></i>
          </div>
        </div>
      </div>

      <!-- Tabla -->
      @if (!loading && solicitudes.length > 0) {
      <div class="bg-base-100 shadow rounded-lg border border-base-300 overflow-hidden">

        <!-- Header acciones -->
        <div class="flex justify-between items-center p-5">

          <!-- Selector de cantidad -->
          <div class="flex items-center gap-2 text-sm">
            <label>Mostrar:</label>

            <select class="select select-bordered select-sm w-auto" [(ngModel)]="limit" (change)="cambiarLimite()">
              <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
                {{ size }}
              </option>
            </select>

            <span>items por página</span>
          </div>



        </div>

        <!-- Tabla -->
        <!-- <div
          class="overflow-x-auto overflow-y-auto h-[40vh] sm:max-h-[65vh] md:max-h-[60vh] lg:max-h-[65vh] xl:max-h-[70vh]">

        </div> -->
        <table class="table w-full">
          <thead class="bg-base-300/90 text-base-content">
            <tr>
              <th>#</th>
              <th>N° EXPEDIENTE</th>
              <th>TIPO</th>
              <th>ESTADO</th>
              <th>ESTAPA</th>
              <th>SOLICITANTE</th>
              <th>CORREO</th>
              <th>ACCIONES</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <!-- Loading -->
            @if (loading) {
            <tr>
              <td colspan="9" class="text-center py-4">Cargando trámites...</td>
            </tr>
            }

            @for (solicitud of solicitudes; track $index) {
            <tr class="hover transition-colors text-base-content">
              <td>{{ $index + 1 }}</td>
              <td class="font-medium text-primary">{{ solicitud.numero_expediente }}</td>
              <td>{{ solicitud.tipo }}</td>
              <td>{{ solicitud.estado }}</td>
              <td>{{ solicitud.etapa_procesal }}</td>
              <td>{{ solicitud.solicitante }}</td>
              <td>{{ solicitud.correo }}</td>

              <!-- Acciones -->
              <td class="text-right relative">

                <!-- ACCIONES PRINCIPALES -->
                <div class="flex justify-start items-center gap-1">

                  <!-- Ver detalle -->
                  <button class="btn btn-ghost btn-circle btn-md" (click)="verDetalle(solicitud)" title="Ver detalle">
                    <i class="fa-solid fa-eye"></i>
                  </button>

                  <!-- Ver archivo -->
                  <button class="btn btn-ghost btn-circle btn-md" (click)="verArchivo(solicitud)" title="Ver archivo">
                    <i class="fa-solid fa-file"></i>
                  </button>

                  <!-- Aprobar solicitud -->
                  <button class="btn btn-ghost btn-circle btn-md" (click)="abrirModal(solicitud)"
                    title="Aprobar solicitud">
                    <i class="fa-regular fa-circle-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <!-- Paginación -->
        <div class="flex justify-end items-center p-4 bg-base-300/90 text-sm">
          <span>
            Página {{ page }} de {{ totalPages }} registros
          </span>

          <div class="join ml-4 gap-2">
            <button class="join-item btn btn-sm" [disabled]="page === 1" (click)="cambiarPagina(page - 1)">
              Anterior
            </button>

            <button class="join-item btn btn-sm" [disabled]="page === totalItems" (click)="cambiarPagina(page + 1)">
              Siguiente
            </button>
          </div>
        </div>

      </div>
      }
      @else if (!loading && solicitudes.length === 0) {
      <div class="flex flex-col items-center justify-center mt-20 text-center text-base-content/70">
        <img src="assets/img/empty-folder.png" alt="Sin solicitudes" class="w-40 h-40 mb-6 opacity-80" />
        <h3 class="text-lg font-semibold text-base-content mb-2">
          No hay solicitudes registradas
        </h3>
        <p class="text-sm max-w-md">Cuando se registren nuevas solicitudes, aparecerán aquí automáticamente.</p>
      </div>
      }
    </div>

    <!-- TAB 2 -->
    <input type="radio" name="my_tabs_2" id="tab2" class="tab peer/tab2 hidden" />
    <label for="tab2"
      class="tab tab-lifted text-xl cursor-pointer peer-checked/tab2:bg-info peer-checked/tab2:text-white peer-checked/tab2:font-bold text-base-content transition-colors">
      Admitidas
    </label>
    <div
      class="tab-content border-base-300 bg-base-100 p-6 rounded-b-xl shadow-md peer-checked/tab2:block transition-all duration-300">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-base-content">Solicitudes Admitidas</h2>
      </div>
      <div class="relative">
        <input type="text" class="input input-bordered bg-base-100 text-base-content pl-10 h-11 w-64"
          placeholder="Buscar..." [(ngModel)]="filtroSearch" (input)="aplicarFiltros()" />
        <i class="fa-solid fa-magnifying-glass absolute left-3 top-3 text-base-content/60"></i>
      </div>

      <!-- Filtro Tipo -->
      <select class="select select-bordered h-11 bg-base-100 text-base-content" [(ngModel)]="filtroTipo"
        (change)="aplicarFiltros()">
        <option value="">Todos los tipos</option>
        <option *ngFor="let t of tiposTramite" [value]="t">{{ t }}</option>
      </select>

      <!-- Tabla -->
      @if (!loading && solicitudesAprobadas.length > 0) {
      <div class="bg-base-100 shadow rounded-lg border border-base-300 overflow-hidden">

        <div
          class="overflow-x-auto overflow-y-auto h-[40vh] sm:max-h-[65vh] md:max-h-[60vh] lg:max-h-[65vh] xl:max-h-[70vh]">
          <table class="table w-full">
            <thead class="bg-base-300 text-base-content">
              <tr>
                <th>#</th>
                <th>N° Expediente</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Etapa</th>
                <th>Solicitante</th>
                <th>Correo</th>
                <!-- <th>Condición</th> -->

              </tr>
            </thead>
            <tbody>
              @if (loading) {
              <tr>
                <td colspan="9" class="text-center py-4">Cargando trámites...</td>
              </tr>
              }

              @for (solicitud of solicitudesAprobadas; track $index) {
              <tr class="hover transition-colors text-base-content">
                <td>{{ $index + 1 }}</td>
                <td class="font-medium text-primary">{{ solicitud.numero_expediente }}</td>
                <td>{{ solicitud.tipo }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>{{ solicitud.etapa_procesal }}</td>
                <td>{{ solicitud.solicitante }}</td>
                <td>{{ solicitud.correo }}</td>
                <!-- <td>{{ solicitud.condicion }}</td> -->


              </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Paginación -->
        <div class="flex flex-wrap justify-end items-center p-4 border-t bg-base-200 text-sm gap-3">
          <!-- <button class="px-4 py-2 bg-base-300 rounded hover:bg-base-100" (click)="cambiarPagina()"
            [disabled]="paginaActual === 1">
            Anterior
          </button>

          <p class="text-base-content">Página {{ paginaActual }} de {{ totalPaginas }}</p>

          <button class="px-4 py-2 bg-base-300 rounded hover:bg-base-100" (click)="cambiarPagina()"
            [disabled]="paginaActual === totalPaginas">
            Siguiente
          </button> -->
        </div>
      </div>
      }
      @else if (!loading && solicitudesAprobadas.length === 0) {
      <div class="flex flex-col items-center justify-center mt-20 text-center text-base-content/70">
        <img src="assets/img/empty-folder.png" alt="Sin solicitudes" class="w-40 h-40 mb-6 opacity-80" />
        <h3 class="text-lg font-semibold text-base-content mb-2">
          No hay solicitudes aprobadas
        </h3>
        <p class="text-sm max-w-md">Cuando apruebe sus solicitudes, aparecerán aquí automáticamente.</p>
      </div>
      }
    </div>


    <!-- TAB 3 -->
    <input type="radio" name="my_tabs_2" id="tab3" class="tab peer/tab3 hidden" />
    <label for="tab3"
      class="tab tab-lifted text-xl cursor-pointer peer-checked/tab3:bg-info peer-checked/tab3:text-white peer-checked/tab3:font-bold text-base-content transition-colors">
      No admitidas
    </label>
    <div
      class="tab-content border-base-300 bg-base-100 p-6 rounded-b-xl shadow-md peer-checked/tab3:block transition-all duration-300">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-base-content">Solicitudes no admitidas</h2>
      </div>


      <!-- Tabla -->
      @if (!loading && solicitudesRechazadas.length > 0) {
      <div class="bg-base-100 shadow rounded-lg border border-base-300 overflow-hidden">

        <div
          class="overflow-x-auto overflow-y-auto h-[40vh] sm:max-h-[65vh] md:max-h-[60vh] lg:max-h-[65vh] xl:max-h-[70vh]">
          <table class="table w-full">
            <thead class="bg-base-300 text-base-content">
              <tr>
                <th>#</th>
                <th>N° Expediente</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Etapa</th>
                <th>Solicitante</th>
                <th>Correo</th>
                <th>Acciones</th>

              </tr>
            </thead>
            <tbody>
              @if (loading) {
              <tr>
                <td colspan="9" class="text-center py-4">Cargando trámites...</td>
              </tr>
              }

              @for (solicitud of solicitudesRechazadas; track $index) {
              <tr class="hover transition-colors text-base-content">
                <td>{{ $index + 1 }}</td>
                <td class="font-medium text-primary">{{ solicitud.numero_expediente }}</td>
                <td>{{ solicitud.tipo }}</td>
                <td>{{ solicitud.estado }}</td>
                <td>{{ solicitud.etapa_procesal }}</td>
                <td>{{ solicitud.solicitante }}</td>
                <td>{{ solicitud.correo }}</td>
                <!-- <td>{{ solicitud.condicion }}</td> -->


              </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Paginación -->
        <div class="flex flex-wrap justify-end items-center p-4 border-t bg-base-200 text-sm gap-3">
          <!-- <button class="px-4 py-2 bg-base-300 rounded hover:bg-base-100" (click)="paginaAnterior()"
            [disabled]="paginaActual === 1">
            Anterior
          </button>

          <p class="text-base-content">Página {{ paginaActual }} de {{ totalPaginas }}</p>

          <button class="px-4 py-2 bg-base-300 rounded hover:bg-base-100" (click)="siguientePagina()"
            [disabled]="paginaActual === totalPaginas">
            Siguiente
          </button> -->
        </div>
      </div>
      }
      @else if (!loading && solicitudesRechazadas.length === 0) {
      <div class="flex flex-col items-center justify-center mt-20 text-center text-base-content/70">
        <img src="assets/img/empty-folder.png" alt="Sin solicitudes" class="w-40 h-40 mb-6 opacity-80" />
        <h3 class="text-lg font-semibold text-base-content mb-2">
          No hay solicitudes admitidas
        </h3>
        <p class="text-sm max-w-md">Cuando apruebe sus solicitudes, aparecerán aquí automáticamente.</p>
      </div>
      }
    </div>


  </div>
</div>
