<section class="relative w-full min-h-screen">



  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');">


    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40"></div>


    <div
      class="relative flex flex-col items-center justify-start min-h-screen px-4 sm:px-6 md:px-10 lg:px-20 xl:px-40 py-10">

      <h1 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mb-2">
        NÓMINAS DE ADJUDICADORES
      </h1>


      <div class="card bg-base-100 shadow-xl border border-gray-300 p-4 max-w-lg">
        <div class="card-body">

          <h2 class="card-title text-lg font-bold">
            Julio Ricardo de Olarte Mendivil
          </h2>


          <p class="text-sm text-gray-600 mt-2 font-semibold">
            Profesión: Ing. Civil
          </p>



          <p class="text-sm text-gray-600 mt-2 font-semibold">
            Especialidades:
          </p>

          <ul class="list-disc ml-5 text-gray-700">
            <li>Derecho administrativo</li>
            <li>Arbitraje</li>
            <li>Contrataciones con el Estado</li>
          </ul>

        </div>
      </div>

    </div>

  </div>
</section>
