<section class="p-6 bg-base-100 rounded-xl border border-primary">

  <!-- TÍTULO -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold text-info">
      Resumen del Trámite
    </h2>
  </div>

  <!-- GRID PRINCIPAL -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- ========================= -->
    <!-- DEMANDANTE -->
    <!-- ========================= -->
    <div class="bg-base-200 p-5 rounded-xl shadow-sm">
      <h3 class="font-semibold text-info mb-3 flex items-center gap-2">

        <i class="fa-solid" [ngClass]="{
          'fa-user-tie': data.demandante.tipo === 'NATURAL',
          'fa-building-user': data.demandante.tipo === 'JURIDICA' || data.demandante.tipo === 'ENTIDAD_PUBLICA'
        }">
        </i>
        Demandante
      </h3>

      <div class="grid grid-cols-2 gap-2 text-sm">
        <div><b>Tipo:</b> {{ data.demandante.tipo }}</div>

        <div *ngIf="data.demandante.nombres">
          <b>Nombres:</b> {{ data.demandante.nombres }}
        </div>

        <div *ngIf="data.demandante.apellidos">
          <b>Apellidos:</b> {{ data.demandante.apellidos }}
        </div>

        <div *ngIf="data.demandante.dni">
          <b>DNI:</b> {{ data.demandante.dni }}
        </div>

        <div *ngIf="data.demandante.ruc">
          <b>RUC:</b> {{ data.demandante.ruc }}
        </div>

        <div *ngIf="data.demandante.razon_social">
          <b>Razón Social:</b> {{ data.demandante.razon_social }}
        </div>

        <div *ngIf="data.demandante.nombre_entidad">
          <b>Entidad:</b> {{ data.demandante.nombre_entidad }}
        </div>

        <div><b>Email:</b> {{ data.demandante.email }}</div>
        <div><b>Teléfono:</b> {{ data.demandante.telefono }}</div>
      </div>
    </div>

    <!-- ========================= -->
    <!-- DEMANDADO -->
    <!-- ========================= -->
    <div class="bg-base-200 p-5 rounded-xl shadow-sm">
      <h3 class="font-semibold text-info mb-3 flex items-center gap-2">

        <i class="fa-solid" [ngClass]="{
          'fa-user-tie': data.demandado.tipo === 'NATURAL',
          'fa-building-user': data.demandado.tipo === 'JURIDICA' || data.demandante.tipo === 'ENTIDAD_PUBLICA'
        }">
        </i>
        Demandado
      </h3>

      <div class="grid grid-cols-2 gap-2 text-sm">
        <div><b>Tipo:</b> {{ data.demandado.tipo }}</div>

        <div *ngIf="data.demandado.nombres">
          <b>Nombres:</b> {{ data.demandado.nombres }}
        </div>

        <div *ngIf="data.demandado.apellidos">
          <b>Apellidos:</b> {{ data.demandado.apellidos }}
        </div>

        <div *ngIf="data.demandado.dni">
          <b>DNI:</b> {{ data.demandado.dni }}
        </div>

        <div *ngIf="data.demandado.ruc">
          <b>RUC:</b> {{ data.demandado.ruc }}
        </div>

        <div *ngIf="data.demandado.razon_social">
          <b>Razón Social:</b> {{ data.demandado.razon_social }}
        </div>

        <div *ngIf="data.demandado.nombre_entidad">
          <b>Entidad:</b> {{ data.demandado.nombre_entidad }}
        </div>

        <div><b>Email:</b> {{ data.demandado.email }}</div>
        <div><b>Teléfono:</b> {{ data.demandado.telefono }}</div>
      </div>
    </div>

    <!-- ========================= -->
    <!-- SOLICITUD -->
    <!-- ========================= -->
    <div class="bg-base-200 p-5 rounded-xl shadow-sm md:col-span-2">
      <h3 class="font-semibold text-info mb-3 flex items-center gap-2">
        <i class="fa-solid fa-file-lines"></i>
        Solicitud
      </h3>

      <div class="grid grid-cols-2 gap-2 text-sm mb-2">
        <div><b>Tipo:</b> {{ data.solicitud.tipo_solicitud | uppercase}}</div>

        <div>
          <b>Código:</b>
          <span class="ml-1 badge badge-outline badge-info">
            {{ data.solicitud.codigo }}
          </span>
        </div>
      </div>

      <div>
        <b>Descripción:</b>
        <p class="text-sm text-gray-600 mt-1 leading-relaxed">
          {{ data.solicitud.descripcion }}
        </p>
      </div>
    </div>

    <!-- ========================= -->
    <!-- ARCHIVOS -->
    <!-- ========================= -->
    <div class="bg-base-200 p-5 rounded-xl shadow-sm md:col-span-2">
      <h3 class="font-semibold text-info mb-3 flex items-center gap-2">
        <i class="fa-solid fa-paperclip"></i>
        Archivos adjuntos
      </h3>

      <ul class="list-disc ml-5 text-sm">
        <li *ngFor="let file of data.archivos">
          {{ file.name }}
        </li>
      </ul>

      <div *ngIf="!data.archivos.length" class="text-gray-400 text-sm">
        No se adjuntaron archivos
      </div>
    </div>

  </div>

  <!-- ========================= -->
  <!-- BOTONES -->
  <!-- ========================= -->
  <div class="mt-8 flex justify-center gap-5 items-center">

    <!-- ATRÁS -->
    <button class="btn btn-outline" (click)="volver()">
      <i class="fa-solid fa-arrow-left"></i>
      Anterior
    </button>

    <!-- ENVIAR -->
    <button class="btn btn-success flex items-center gap-2" (click)="enviar()" [disabled]="loading">

      <span *ngIf="loading" class="loading loading-spinner"></span>

      {{ loading ? 'Enviando...' : 'Registrar Trámite' }}

      <!-- <i *ngIf="!loading" class="fa-solid fa-paper-plane"></i> -->

      <i *ngIf="!loading" class="fa-solid fa-floppy-disk"></i>
    </button>

  </div>

</section>
