<section class="py-10 md:px-21 bg-base-300 min-h-screen px-9 rounded-box shadow ">
  <div class="container bg-base-100 p-10 mx-auto rounded-lg">
    <!-- Título -->
    <div class="text-center mb-12">
      <h1 class="text-4xl font-bold ">Sobre Nosotros</h1>
      <!-- <p class="mt-3 text-lg text-gray-500 dark:text-gray-400">
        Promovemos la difusión y el estudio del Arbitraje en Contrataciones del Estado y Derecho de la Construcción.
      </p> -->
    </div>

    <!-- Grid de servicios -->
    <p class="text-center text-2xl">Somos un bufete especializado en la prestación de servicios legales estratégicos y solución de controversias para
      el ámbito corporativo.
    </p>

    <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-10">



    </div> -->
  </div>
</section>

<!-- Este es el outlet para que se cargue DetallesServicioComponent -->
<!-- <router-outlet/> -->
