<div class="p-6 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Resoluciones Emitidas</h2>
  </div>

  <!-- Buscador -->
  <div class="flex justify-between items-center mb-4">
    <input type="text" (ngModel)="searchTerm" (input)="filtrarResoluciones()"
      class="input input-bordered w-full max-w-xs bg-base-100 text-gray-800 rounded-md h-11 pl-10 pr-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      placeholder="Buscar resolución..." />
  </div>

  <!-- Tabla -->
  <div class="overflow-x-auto bg-white shadow rounded-lg">
    <table class="table w-full">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th>N° Resolución</th>
          <th>Título</th>
          <th>Fecha de Emisión</th>
          <th>Estado</th>
          <th>Documento</th>
        </tr>
      </thead>
      <tbody>
        @if (loading) {
        <tr>
          <td colspan="5" class="text-center py-4">Cargando resoluciones...</td>
        </tr>
        }

        @for (res of resolucionesFiltradas; track $index) {
        <tr>
          <td>{{ res.numero_resolucion }}</td>
          <td>{{ res.titulo }}</td>
          <td>{{ res.fecha_emision | date:'dd/MM/yyyy' }}</td>
          <td>
            <span class="badge bg-[#0a1a35] text-white px-3 py-1 rounded-full">
              {{ res.estado }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm bg-[#0a1a35] text-white border-none hover:bg-[#13244a]"
              (click)="verDocumento(res)">
              Ver PDF
            </button>
          </td>
        </tr>
        }


        @if (!loading && resolucionesFiltradas.length === 0) {
        <tr>
          <td colspan="5" class="text-center py-4 text-gray-500">
            No hay resoluciones registradas
          </td>
        </tr>
        }

      </tbody>
    </table>
  </div>
</div>
