<section class="relative w-full min-h-screen">
  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');
  ">
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40 "></div>

    <!-- Contenido centrado -->
    <div class="relative flex flex-col items-center justify-center min-h-screen px-6 py-8 ">

      <!-- Título -->
      <h1 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mb-6">
        MESA DE PARTES VIRTUALES
      </h1>

      <div class="card w-full max-w-lg bg-base-200  shadow-xl p-6 ">
        <form [formGroup]="formTramiteMPV" (ngSubmit)="enviar()" class="space-y-6">
          <!-- Tipo de Solicitud -->
          <div>
            <label class="label">
              <span class="label-text font-semibold text-gray-700">Tipo de Solicitud</span>
            </label>
            <select formControlName="tipo_solicitud" class="select select-bordered w-full">
              <option value="">Seleccione</option>
              <option value="Demanda">Demanda</option>
              <option value="Escrito">Escrito</option>
              <option value="Anexo">Anexo</option>
            </select>
          </div>

          <!-- Descripción -->
          <div>
            <label class="label">
              <span class="label-text font-semibold text-gray-700">Descripción</span>
            </label>
            <textarea formControlName="descripcion" class="textarea textarea-bordered w-full"
              placeholder="Describa brevemente su solicitud..." rows="3"></textarea>
          </div>

          <!-- Expediente -->
          <!-- <div>
            <label class="label">
              <span class="label-text font-semibold text-gray-700">Expediente (opcional)</span>
            </label>
            <input formControlName="id_expediente" type="text" placeholder="Ingrese número o nombre del expediente"
              class="input input-bordered w-full" />
          </div> -->

          <!-- Archivos -->
          <div>
            <label class="label">
              <span class="label-text font-semibold text-gray-700">Adjuntar archivos (opcional)</span>
            </label>
            <input type="file" class="file-input file-input-bordered w-full" multiple
              (change)="onFileSelected($event)" />
            <!-- <p *ngIf="archivosSeleccionados?.length" class="text-xs text-gray-500 mt-2">
              {{ archivosSeleccionados.length }} archivo(s) seleccionado(s)
            </p> -->
          </div>

          <!-- Botón Enviar -->
          <div class="flex justify-center pt-2">
            <button type="submit"
              class="btn btn-info w-full sm:w-auto text-white font-semibold px-8 shadow-md hover:bg-info/90">
              <i class="fa-solid fa-paper-plane mr-2"></i> Enviar Solicitud
            </button>
          </div>
        </form>

        @if (enviado) {
        <div>
          <h3>Trámite registrado</h3>
          <p>Número: {{ respuesta.tramite.numero_tramite }}</p>
          <p>Estado: {{ respuesta.tramite.estado }}</p>
        </div>
        }

      </div>

    </div>
  </div>


</section>



<!-- <div class="card w-full max-w-lg bg-base-200  shadow-xl p-6 ">

        <h2 class="text-sm font-semibold mb-4">Nuevo expediente</h2>


        <div class="grid grid-cols-3 gap-3 mb-4">
          <input type="text" placeholder="Número" class="input input-bordered w-full" />
          <input type="text" placeholder="Año" class="input input-bordered w-full " />
          <select class="select select-bordered w-full">
            <option disabled selected>Código</option>
            <option value="CA-RENA">CA-RENA</option>
            <option value="JPRD-RENA">JPRD-RENA</option>
            <option value="DESIGNACIÓN">DESIGNACIÓN</option>
            <option value="RECUSACIÓN-RENA">RECUSACIÓN-RENA</option>
            <option value="INSTALACIÓN">INSTALACIÓN</option>
            <option value="AD HOC-RENA">AD HOC-RENA</option>
            <option value="AE-RENA">AE-RENA</option>
          </select>
        </div>


        <h2 class="text-sm font-semibold mb-4">Tipo Expediente</h2>
        <div class="form-control mb-4 ">
          <select class="select select-bordered w-full">
            <option disabled selected>Seleccione un tipo...</option>
            <option value="Arbitraje de Emergencia">Arbitraje de Emergencia</option>
            <option value="Arbitraje Ad Hoc">Arbitraje Ad Hoc</option>
            <option value="Arbitraje Institucional">Arbitraje Institucional</option>
            <option value="Recusación de árbitro">Recusación de árbitro</option>
            <option value="Recusación de adjudicador">Recusación de adjudicador</option>
            <option value="Designación residual">Designación residual</option>
            <option value="Instalación de arbitraje">Instalación de arbitraje</option>
          </select>
        </div>


        <h2 class="text-sm font-semibold mb-4">Etapa procesal</h2>
        <div class="form-control mb-4">
          <select class="select select-bordered w-full">
            <option disabled selected>Seleccione una etapa...</option>
            <option value="Prearbitral">Prearbitral</option>
            <option value="Instalación">Instalación</option>
            <option value="Postulatoria">Postulatoria</option>
            <option value="puntos controvertidos">Fijación de puntos controvertidos</option>
            <option value="Admisión de medios probatorios">Admisión de medios probatorios</option>
            <option value="Actuación pericial">Actuación pericial</option>
            <option value="Actuación probatoria">Actuación probatoria</option>
            <option value="Cierre de etapa probatoria">Cierre de etapa probatoria</option>
            <option value="Alegatos">Alegatos</option>
            <option value="Audiencia">Audiencia</option>
            <option value="Plazo para laudar">Plazo para laudar</option>
            <option value="Plazo para resolver pedido contra Laudo Arbitral">Plazo para resolver pedido contra Laudo
              Arbitral</option>
            <option value="Concluido con Laudo Arbitral Consentido">Concluido con Laudo Arbitral Consentido</option>
            <option value="Concluido con pedido contra Laudo Arbitral">Concluido con pedido contra Laudo Arbitral
            </option>
            <option value="Recusación de arbitro">Recusación de arbitro</option>
            <option value="Recusación de adjudicador">Recusación de adjudicador</option>
            <option value="Reconstitución de Tribunal Arbitral">Reconstitución de Tribunal Arbitral</option>
            <option value="Reconstitución de JPRD">Reconstitución de JPRD</option>
          </select>
        </div>

        <h2 class="text-sm font-semibold mb-4">Datos de Usuario</h2>


        <div class="form-control mb-4">
          <input type="text" placeholder="Ingrese un nombre" class="input input-bordered w-full" name="nombre" />
        </div>


        <div class="form-control mb-4">
          <input type="email" placeholder="Ingrese su correo" class="input input-bordered w-full" />
        </div>


        <div class="form-control mb-4">
          <input type="password" placeholder="Ingrese su contraseña" class="input input-bordered w-full" />
        </div>


        <div class="form-control mb-6 ">
          <select class="select select-bordered w-full">
            <option disabled selected>Seleccione una condición...</option>
            <option>Demandante</option>
            <option>Demandado</option>
            <option>Adjudicador</option>
            <option>Árbitro</option>
            <option>Secretario Arbitral</option>
            <option>Secretario Técnico</option>
          </select>
        </div>


        <button
          class="btn btn-ghost w-full btn-md mt-3 bg-info text-base border-base-50 hover:bg-indigo-600 hover:text-white">
          Enviar Solicitud
        </button>


      </div> -->
