<section class="relative w-full min-h-screen">


  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');">
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40  "></div>

    <!-- Contenido centrado -->
    <div class="relative flex flex-col items-center justify-start min-h-screen px-4 sm:px-6 md:px-12 py-10">

      <h1 class="text-center text-xs sm:text-xl md:text-3xl font-bold text-white mb-6 drop-shadow-lg">
        BANCO DE DECISIONES
      </h1>


      <div class="w-full max-w-6xl bg-base-100/95 backdrop-blur-sm rounded-2xl shadow-2xl p-4 sm:p-6 md:p-8">
        <!-- Encabezado -->
        <div class="flex flex-col md:flex-row sm:items-center sm:justify-between mb-4">
          <h2 class="text-lg font-semibold text-base-50">
            Nº DE DECISIONES: <span class="text-info font-bold">{{desiciones.length}}</span>
          </h2>
        </div>

        <!-- Tabla -->
        <div class="overflow-x-auto rounded-xl shadow-inner">
          <table class="table w-full text-sm text-base-50 min-h-[500px]">
            <thead class="bg-info text-white uppercase text-xs sm:text-sm">
              <tr>
                <th class="py-3 px-4 text-left">ID</th>
                <th class="py-3 px-4 text-left">CONTRATISTA</th>
                <th class="py-3 px-4 text-left">ENTIDAD</th>
                <th class="py-3 px-4 text-left">CONTROVERSIA</th>
                <th class="py-3 px-4 text-center">DECICIONES</th>
              </tr>
            </thead>
            <tbody>
              @if (desiciones.length > 0) {
              @for (item of desiciones; track $index) {
              <tr class="border-b hover:bg-base-200 transition">
                <td class="py-2 px-4 font-medium">{{ item.id }}</td>
                <td class="py-2 px-4 uppercase">{{ item.contratista }}</td>
                <td class="py-2 px-4 uppercase">{{ item.entidad }}</td>
                <td class="py-2 px-4 uppercase">{{ item.controversia }}</td>
                <td class="py-2 px-4 text-center">
                  <a href="#" class="text-info hover:text-info transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 inline-block" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5 5-5M12 15V3" />
                    </svg>
                  </a>
                </td>
              </tr>
              }
              } @else {
              <tr>
                <td colspan="5" class="text-center py-10 text-base-50  text-md">
                  No se encontraron registros de desiciones.
                </td>
              </tr>
              }

            </tbody>
          </table>
        </div>

        <!-- Paginación -->
        <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-4 text-sm">
          <p class="text-gray-600 mb-2 md:mb-0">
            Mostrando <span class="font-semibold">1</span> de <span class="font-semibold">{{desiciones.length}}</span>
            resultados
          </p>

          <div class="join">
            <button class="join-item btn btn-sm btn-outline">«</button>
            <button class="join-item btn btn-sm btn-primary">1</button>
            <button class="join-item btn btn-sm btn-outline">2</button>
            <button class="join-item btn btn-sm btn-outline">3</button>
            <button class="join-item btn btn-sm btn-outline">4</button>
            <button class="join-item btn btn-sm btn-outline">5</button>
            <button class="join-item btn btn-sm btn-outline">»</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
