<div class="flex flex-col justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded-lg p-6 w-96 text-center">
    <h2 class="text-xl font-bold mb-4 text-[#0a1a35]">Confirmación de Cuenta</h2>


    @if (!error) {
    <div class="text-green-600 font-semibold">
      {{ mensaje }}
    </div>
    }

    @if (error) {
    <div class="text-red-600 font-semibold">
      {{ mensaje }}
    </div>
    }

    @if (!error) {
    <div class="mt-4">
      <p>Redirigiendo al inicio de sesión...</p>
    </div>
    }

  </div>
</div>
