<div class="p-6 min-h-full bg-base-300 text-base-content overflow-auto transition-colors duration-300">

  <!-- Titulo -->
  <h1 class="text-2xl font-bold mb-5 text-base-content ">Auditorias</h1>


  <!-- Header -->
  <div class="p-4 mb-7 card bg-base-100 shadow-md">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4">

      <!--  BUSCADOR -->
      <div class="flex flex-col md:flex-row gap-4 items-center w-full md:w-auto">

        <!-- Select tipo -->
        <select class="select select-bordered w-full md:w-60">
          <option value="" disabled selected>Seleccione tipo</option>
          <option value="Secretaria">Secretaria</option>
          <option value="Arbitro">Arbitro</option>
          <option value="Adjudicadores">Adjudicadores</option>
          <option value="Admin">Admin</option>
        </select>

        <!-- Input buscar -->
        <div class="relative w-full md:max-w-xs">
          <input type="text" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-4 text-sm
                 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Buscar por Expediente" />
          <i class="fa fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>

      </div>

      <!--  BOTONES -->
      <div class="flex gap-2 justify-end w-full md:w-auto">

        <button class="btn btn-primary bg-[#0a1a35] hover:bg-[#13244a] border-none" onclick="my_modal_1.showModal()">
          Generar Auditoria
        </button>

        <!-- <button class="btn btn-primary text-base-content hover:text-white bg-info hover:bg-primary border-none"
        (click)="abrirModal()">
        + Nuevo Usuario
      </button> -->
      </div>
    </div>
  </div>


  <!-- Tabla -->
  <div class="p-6 min-h-auto bg-base-100 rounded-xl shadow-xl">
    <table class="table w-full">
      <thead class="bg-base-300/90">
        <tr>
          <th>Expediente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Usuario</th>
          <th>Accion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if (loading) {
        <tr>
          <td colspan="7" class="text-center py-4">Cargando expedientes...</td>
        </tr>
        }

        @for (auditoria of auditorias; track $index) {
        <tr class="hover">
          <td>{{ auditoria.expediente }}</td>
          <td>{{ auditoria.fecha }}</td>
          <td>{{ auditoria.hora}}</td>
          <td>
            {{ auditoria.usuario }}
          </td>
          <td>{{ auditoria.accion }}</td>

          <!-- Menú contextual -->
          <td class="relative">
            <button class="btn btn-sm btn-outline-primary me-1">
              <i class="bi bi-eye"></i> Ver
            </button>

          </td>
          <!-- <td>
            <button class="btn btn-ghost btn-circle btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>
          </td> -->
        </tr>
        }

      </tbody>
    </table>

    <!-- Paginación -->
    <div class="flex justify-end items-center p-4 border-t bg-gray-50 text-sm">
      <span>Página 1 de 1</span>
      <div class="join ml-4">
        <button class="join-item btn btn-sm" disabled>Anterior</button>
        <button class="join-item btn btn-sm">Siguiente</button>
      </div>
    </div>
  </div>
</div>
