<div class="p-6 min-h-full bg-base-300 text-base-content overflow-auto transition-colors duration-300">

  <!-- Titulo -->
  <h1 class="text-2xl font-bold mb-5 text-base-content ">Gestión de Expedientes</h1>

  <!-- Header -->
  <div class="p-4 mb-7 card bg-base-100 shadow-md">

    <!-- CONTENEDOR PRINCIPAL -->
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4">

      <!--  BUSCADOR -->
      <div class="flex flex-col md:flex-row gap-4 items-center w-full md:w-auto">

        <!-- Input buscar -->
        <div class="relative w-full md:max-w-xs">
          <input type="text" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-4 text-sm
                 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Buscar por N° Expediente"
            autocomplete="off" [(ngModel)]="filtroSearch" (ngModelChange)="onSearchChange()" />
          <i class="fa fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>


        <!-- Filtro MES -->
        <select class="select select-bordered h-11 bg-base-100 text-base-content w-full md:w-40" [(ngModel)]="filtroMes"
          (change)="aplicarFiltros()">

          <option value="">Mes</option>
          <option *ngFor="let mes of meses" [value]="mes.value">
            {{ mes.label }}
          </option>
        </select>

        <!-- Filtro AÑO -->
        <select class="select select-bordered h-11 bg-base-100 text-base-content w-full md:w-32"
          [(ngModel)]="filtroAnio" (change)="aplicarFiltros()">

          <option value="">Año</option>
          <option *ngFor="let anio of anios" [value]="anio">
            {{ anio }}
          </option>
        </select>

      </div>
    </div>

  </div>

  <!-- Modal Crear Expediente -->
  <expediente-modal [mostrarModal]="mostrarModal" [modoEdicion]="modoEdicion"
    [expedienteSeleccionado]="expedienteSeleccionado" (modalCerrado)="cerrarModal()"
    (expedienteCreado)="cargarExpedientes()">
  </expediente-modal>


  <!-- Modal Participes y Arbitros -->
  <gestionar-participes [mostrarModal]="mostrarModalParticipes" [expedienteSeleccionado]="expedienteSeleccionado"
    (modalCerrado)="cerrarModalParticipes()">
  </gestionar-participes>


  <!-- Tabla -->
  <div class="p-6 min-h-auto bg-base-100 rounded-xl shadow-xl">
    <div class="overflow-x-auto text-base-content border border-base-300/90 shadow rounded-lg">
      <!-- Header acciones -->
      <div class="flex justify-between items-center p-5">

        <!-- Selector de cantidad -->
        <div class="flex items-center gap-2 text-sm">
          <label>Mostrar:</label>

          <select class="select select-bordered select-sm w-auto" [(ngModel)]="limit" (change)="cambiarLimite()">
            <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
              {{ size }}
            </option>
          </select>

          <span>items por página</span>
        </div>

        <!-- Botónes -->
        <div class="flex flex-row justify-center items-center gap-4">

          <!-- <button class="btn btn-warning text-base-content hover:text-white bg-info hover:bg-primary border-none"
            (click)="abrirParticipe()">
            <i class="fa-solid fa-plus mr-1"></i>
            Participe
          </button> -->


          <button class="btn btn-primary text-base-content hover:text-white bg-info hover:bg-primary border-none"
            (click)="abrirModal()">
            <i class="fa-solid fa-plus mr-1"></i>
            Expediente
          </button>
        </div>

      </div>

      <!-- Tabla  -->
      <table class="table w-full">

        <thead class="bg-base-300/90">
          <tr>
            <th>#</th>
            <th>N° Expediente</th>
            <th>N° de Participes</th>
            <th>Fecha de Inicio</th>
            <th>Estado</th>
            <th>Estado Procesal</th>
            <th>Docs</th>
            <th>Actualización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @if (loading) {
          <tr>
            <td colspan="7" class="text-center py-4 text-base-content/70">Cargando expedientes...</td>
          </tr>
          }

          @for (exp of expedientes; track exp.id_expediente; let i = $index) {
          <tr class="hover ">
            <td>{{i + 1}}</td>
            <td>{{ exp.numero_expediente }}</td>
            <td>{{ exp.total_participes }}</td>
            <td>{{ exp.fecha_inicio | date:'dd/MM/yyyy':'UTC' }}</td>
            <td>
              <span class="badge badge-soft badge-info font-semibold">
                {{ exp.estado }}
              </span>
            </td>
            <td>{{ exp.estado_procesal }}</td>
            <td>{{ exp.total_documentos }}</td>
            <td>
              {{ exp.ultima_actualizacion | date: 'dd/MM/yyyy, h:mm a' }}
            </td>

            <!-- Menú contextual -->
            <td class="text-right relative">

              <!-- ACCIONES PRINCIPALES -->
              <div class="flex justify-start items-center gap-1">
                <!-- Ver documentos -->
                <button class="btn btn-ghost btn-circle btn-md" title="Ver documentos" (click)="verDocumentos(exp)">
                  <i class="fa-solid fa-file-lines"></i>
                </button>

                <!-- Gestionar partícipes -->
                <button class="btn btn-ghost btn-circle btn-md" title="Gestionar partícipes"
                  (click)="gestionarParticipesModal(exp)">
                  <i class="fa-solid fa-users"></i>
                </button>

                <!-- Más opciones -->
                <button class="btn btn-ghost btn-circle btn-md" title="Más opciones"
                  (click)="toggleDropdown($event, exp)">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>

              </div>

              @if (menuActivo?.id_expediente === exp.id_expediente ) {
              <div class="fixed bg-base-100 shadow-xl rounded-xl w-auto border border-base-300 z-[9999]"
                [ngStyle]="dropdownStyle">
                <ul class="menu menu-md ">
                  <li class="menu-title text-xs text-base-content/60 text-start">Otras acciones</li>

                  <li>
                    <button (click)="verHistorial(exp)">
                      <i class="fa-solid fa-clock-rotate-left"></i>
                      Ver historial
                    </button>
                  </li>

                  <!-- <hr /> -->

                  <li>
                    <button (click)="editarExpediente(exp)">
                      <i class="fa-solid fa-pen"></i>
                      Editar expediente
                    </button>
                  </li>

                  <li>
                    <button class="text-error" (click)="anularExpediente(exp)">
                      <i class="fa-solid fa-ban"></i>
                      Anular expediente
                    </button>
                  </li>

                </ul>
              </div>
              }

            </td>
          </tr>
          }


        </tbody>


      </table>

      @if (!loading && expedientes.length === 0) {
      <div class="flex flex-col items-center justify-center my-10 text-center text-base-content/70">
        <img src="assets/img/empty-folder.png" alt="Sin solicitudes" class="w-40 h-40 mb-6 opacity-80" />
        <h3 class="text-lg font-semibold text-base-content mb-2">
          No hay expedientes registrados
        </h3>
        <p class="text-sm max-w-md">Cuando se registren nuevos expedientes, aparecerán aquí automáticamente.</p>
      </div>}

      <!-- Paginación -->
      <div class="flex justify-end items-center p-4 text-sm text-base-content bg-base-300/90">
        <span> Página {{ page }} de {{ totalPages }} registros</span>
        <div class="join ml-4 gap-2">
          <button class="join-item btn btn-sm" [disabled]="page === 1" (click)="cambiarPagina(page - 1)">
            Anterior
          </button>

          <button class="join-item btn btn-sm" [disabled]="page === totalItems" (click)="cambiarPagina(page + 1)">
            Siguiente
          </button>
        </div>
      </div>
    </div>


  </div>
</div>

<router-outlet></router-outlet>
