<nav class="mt-5 px-2 space-y-4">

  <div class="space-y-1">

    @for (item of menuOptions; track item.route) {
    <a [routerLink]="item.route" routerLinkActive="bg-info"
      class="flex items-center px-4 py-2.5 text-sm font-medium rounded-lg text-white group transition-all duration-200 hover:bg-gray-700">

      <!-- <img [src]="item.icon" alt="{{ item.label }} icon" class="w-5 h-5 mr-3" /> -->
      <div class="h-5 w-5 mr-3">
        <i [class]="item.icon"></i>
      </div>
      {{item.label}}
    </a>
    }
  </div>

</nav>


