<div class="p-6 bg-gray-50 min-h-screen">
  <!-- Header -->
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Lista de Solicitudes</h2>

  </div>

  <!-- Modal Form -->
  @if (modalVisible) {
  <dialog class="modal modal-open text-white">
    <div class="modal-box bg-base-100 rounded-2xl shadow-2xl max-w-md">

      <!-- Título -->
      <h3 class="font-bold text-lg text-center mb-3">
        Cambiar estado del trámite
      </h3>

      <!-- Descripción -->
      <p class="text-center text-gray-600 mb-6">
        ¿Deseas
        <span class="font-semibold text-green-600">aprobar</span> o
        <span class="font-semibold text-red-600">rechazar</span>
        la solicitud
        <span class="text-blue-600 font-bold">{{ tramiteSeleccionado?.numero_expediente }}</span>?
      </p>

      <!-- Botones de acción -->
      <div class="flex justify-center gap-3 mt-4">
        <button class="btn btn-success btn-sm text-white" (click)="nuevoEstado = 'aprobada'; confirmarCambioEstado()">
          <i class="fa-solid fa-check mr-1"></i>
          Aprobar
        </button>

        <button class="btn btn-error btn-sm text-white" (click)="nuevoEstado = 'rechazada'; confirmarCambioEstado()">
          <i class="fa-solid fa-xmark mr-1"></i>
          Rechazar
        </button>

        <button class="btn btn-ghost btn-sm" (click)="cerrarModal()">
          <i class="fa-solid fa-ban mr-1"></i>
          Cancelar
        </button>
      </div>
    </div>
  </dialog>

  <!-- Fondo oscuro del modal -->
  <!-- <div class="modal-backdrop bg-black/40 " (click)="cerrarModal()"></div> -->
  <!-- Fondo oscuro -->
  <form method="dialog" class="modal-backdrop bg-black/40" (click)="cerrarModal()"></form>

  }


  <!-- Buscador -->
  <div class="flex justify-between items-center mb-4">
    <input type="text"
      class="input input-bordered w-full max-w-xs bg-base-100 text-white rounded-md h-11 pl-10 pr-4 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      placeholder="Buscar por cualquier campo...">

  </div>


  @if (!loading && solicitudes.length > 0) {
  <!-- Tabla -->
  <div class="overflow-x-auto bg-white shadow rounded-lg ">
    <table class="table w-full">
      <thead class="bg-gray-100 text-base-100">
        <tr>
          <th class="py-2 px-4 ">#</th>
          <th class="py-2 px-4 ">N° Expediente</th>
          <th class="py-2 px-4 ">Tipo</th>
          <th class="py-2 px-4 ">Estado</th>
          <th class="py-2 px-4 ">Etapa</th>
          <th class="py-2 px-4 ">Solicitante</th>
          <th class="py-2 px-4 ">Correo</th>
          <th class="py-2 px-4 ">Condición</th>
          <th class="py-2 px-4 "></th>
        </tr>
      </thead>
      <tbody>
        @if (loading) {
        <tr>
          <td colspan="7" class="text-center py-4">Cargando trámites...</td>
        </tr>
        }

        @for (solicitud of solicitudes; track $index) {
        <tr class="hover">
          <!-- <td>{{ $index + 1 }}</td>
          <td>{{ solicitud.numero_tramite }}</td>
          <td>{{ solicitud.estado }}</td>
          <td>{{ solicitud.tipo_solicitud}}</td>
          <td>{{ solicitud.descripcion}}</td>
          <td>
            {{ solicitud.createdAt | date: 'dd/MM/yyyy, h:mm a'}}
          </td>
          <td></td>
          <td></td>
          <td>
            <a [href]="solicitud.archivo_url" target="_blank" class="text-blue-600 hover:underline">
              Ver archivo
            </a>
          </td> -->
          <td class="py-2 px-4 ">{{ $index + 1 }}</td>
          <td class="py-2 px-4  font-medium text-blue-600">{{ solicitud.numero_expediente }}</td>
          <td class="py-2 px-4 ">{{ solicitud.tipo }}</td>
          <td class="py-2 px-4 ">{{ solicitud.estado }}</td>
          <td class="py-2 px-4 ">{{ solicitud.etapa_procesal }}</td>
          <td class="py-2 px-4 ">{{ solicitud.solicitante }}</td>
          <td class="py-2 px-4 ">{{ solicitud.correo }}</td>
          <td class="py-2 px-4 ">{{ solicitud.condicion }}</td>
          <!-- <td class="py-2 px-4 border text-center text-sm text-blue-700 cursor-pointer hover:underline">
            {{ solicitud.accion }}
          </td> -->

          <td class="relative ">
            <div class="dropdown dropdown-end inline-block">
              <button tabindex="0" class="btn btn-ghost btn-circle btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M6 12h.01M12 12h.01M18 12h.01" />
                </svg>
              </button>


              <ul tabindex="0" class="menu menu-sm dropdown-content bg-white shadow-lg rounded-xl w-52  mt-2 z-[100]"
                [class.hidden]="menuAbierto == $index">
                <li class="menu-title px-4 py-1 text-xs text-gray-400">
                  Acciones
                </li>

                <!-- Ver Documentos -->
                <li>
                  <button class="flex items-center gap-2 hover:bg-gray-100 px-4 py-2 w-full text-sm text-gray-700">
                    <i class="fa-solid fa-file-lines text-gray-600 w-5 text-center"></i>
                    <a [href]="solicitud.documento" target="_blank" class="text-blue-600 hover:underline">
                      Ver archivo
                    </a>
                  </button>
                </li>

                <hr class="my-1 border-gray-200" />

                <!-- Aprobar Expediente -->
                <li>
                  <button
                    class="flex items-center gap-2 hover:bg-red-50 px-4 py-2 w-full text-sm text-blue-600 hover:underline"
                    (click)="abrirModal(solicitud)">
                    <i class="fa-solid fa-pen text-gray-600 w-5 text-center"></i>
                    Aprobar Expediente
                  </button>


                </li>

              </ul>
            </div>
          </td>

        </tr>
        }

      </tbody>
    </table>




    <!-- Paginación -->
    <div class="flex justify-end items-center p-4 border-t bg-gray-50 text-sm">
      <button class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300" (click)="paginaAnterior()"
        [disabled]="paginaActual === 1">
        Anterior
      </button>

      <p>Página {{ paginaActual }} de {{ totalPaginas }}</p>

      <button class="px-4 py-2 bg-gray-200 rounded hover:bg-gray-300" (click)="siguientePagina()"
        [disabled]="paginaActual === totalPaginas">
        Siguiente
      </button>
      <!-- <span>Página 1 de 1</span>
      <div class="join ml-4">
        <button class="join-item btn btn-sm" disabled>Anterior</button>
        <button class="join-item btn btn-sm">Siguiente</button>
      </div> -->
    </div>
  </div>
  }


</div>
