<!-- MODAL CREAR PARTICIPE -->
@if (mostrarModal) {
<div class="modal modal-open">

  <!-- Header -->
  <div class="modal-box bg-base-100 text-base-content rounded-2xl shadow-lg" [ngClass]="modalWidthClass">

    <!-- Title -->
    <div class="flex justify-between items-center border-b border-base-300 pb-3 mb-4">
      <h3 class="text-xl font-semibold">{{ modoEdicion ? 'Editar Partícipe' : 'Crear Nuevo Partícipe' }}</h3>
      <button type="button" (click)="cerrarModal()" class="btn btn-sm btn-ghost text-xl">&times;</button>
    </div>

    <!-- Mensajes -->
    @if (mensajeError) {
    <div class="alert alert-error text-sm mb-3 shadow-sm">
      <span>{{ mensajeError }}</span>
    </div>
    }

    @if (mensajeExito) {
    <div class="alert alert-success text-sm mb-3 shadow-sm">
      <span>{{ mensajeExito }}</span>
    </div>
    }


    <!-- Formulario -->
    <form [formGroup]="formParticipe" (ngSubmit)="crearOEditarParticipe()" class="space-y-6">

      <!-- Selects -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Tipo de Demandado -->
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Tipo de Demandado</span>
          </label>
          <select formControlName="tipo_demandado" (change)="onTipoDemandadoChange()"
            class="select select-bordered w-full">
            <option value="" disabled >Seleccione</option>
            <option value="persona">Persona Natural</option>
            <option value="entidad">Entidad / Institución</option>
          </select>
        </div>

        <!-- Rol del Partícipe -->
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Rol del Partícipe</span>
          </label>
          <select formControlName="rol_participe" class="select select-bordered w-full"
            [class.select-error]="f['rol_participe'].invalid && f['rol_participe'].touched">
            <option value="" disabled>Seleccione un rol</option>
            <option value="Demandante">Demandante</option>
            <option value="Demandado">Demandado</option>
            <option value="Tercero">Tercero</option>
          </select>

          @if (f['rol_participe'].invalid && f['rol_participe'].touched) {
          <small class="text-error text-xs mt-1">
            Seleccione un rol válido.
          </small>
          }
        </div>

      </div>

      <!-- CUANDO ES ENTIDAD -->
      @if (isEntidad) {
      <!-- <h2 class="text-sm font-semibold mb-4">Nombre de la Entidad</h2> -->
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text font-semibold">Nombre de la Entidad</span>
        </label>

        <input type="text" formControlName="nombre" placeholder="Nombre de la entidad"
          class="input input-bordered w-full" appUppercase/>

        @if (f['nombre'].invalid && f['nombre'].touched) {
        <small class="text-error text-xs">
          Nombre requerido (mínimo 3 caracteres)
        </small>
        }
      </div>
      }

      <!-- CUANDO ES PERSONA -->
      @if (!isEntidad) {

      <!-- <h2 class="text-sm font-semibold mb-4">Nombres y Apellidos</h2> -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

        <!-- NOMBRES -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Nombre</span>
          </label>

          <input type="text" formControlName="nombre" placeholder="Nombres" class="input input-bordered w-full" appUppercase/>
          @if (f['nombre'].invalid && f['nombre'].touched) {
          <small class="text-error text-xs">
            Nombre requerido (mínimo 3 caracteres)
          </small>
          }
        </div>

        <!-- APELLIDOS -->
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Apellidos</span>
          </label>
          <input type="text" formControlName="apellidos" placeholder="Apellidos" class="input input-bordered w-full " appUppercase/>
          @if (f['apellidos'].invalid && f['apellidos'].touched) {
          <small class="text-error text-xs">
            Apellidos requeridos (mínimo 3 caracteres)
          </small>
          }
        </div>

      </div>
      }

      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">Correo</span>
        </label>
        <input type="email" formControlName="correo" placeholder="ejemplo@correo.com"
          class="input input-bordered w-full" [class.input-error]="f['correo'].invalid && f['correo'].touched" appUppercase/>
        @if (f['correo'].invalid && f['correo'].touched) {
        <small class="text-error text-xs">
          Ingrese un correo válido.
        </small>
        }

      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Tipo Documento</span>
          </label>
          <select formControlName="tipo_documento" class="select select-bordered w-full">
            <option value="" disabled>Tipo Documento</option>
            <option value="DNI">DNI</option>
            <option value="RUC">RUC</option>

          </select>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Documento de Identidad</span>
          </label>
          <input type="text" formControlName="documento_identidad" placeholder="DNI / RUC"
            class="input input-bordered w-full" />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Teléfono</span>
          </label>
          <input type="text" formControlName="telefono" placeholder="987654321" class="input input-bordered w-full"
            [class.input-error]="f['telefono'].invalid && f['telefono'].touched" />
          @if (f['telefono'].invalid && f['telefono'].touched) {
          <small class="text-error text-xs">
            Solo se permiten números.
          </small>
          }

        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold">Cargo</span>
          </label>
          <input type="text" formControlName="cargo" placeholder="Ej. Representante Legal"
            class="input input-bordered w-full" [class.input-error]="f['cargo'].invalid && f['cargo'].touched" appUppercase/>
          @if (f['cargo'].invalid && f['cargo'].touched) {
          <small class="text-error text-xs">
            Este campo es obligatorio.
          </small>
          }

        </div>
      </div>

      <!-- Footer Buttons -->
      <div class="modal-action flex justify-end items-center gap-4">
        <button type="button" class="btn btn-ghost" (click)="cerrarModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary text-white" [disabled]="formParticipe.invalid || cargando">
          @if (cargando) {
          <span class="loading loading-spinner loading-sm"></span>
          Creando...
          } @else {
          {{ modoEdicion ? 'Guardar Cambios' : 'Guardar Partícipe' }}
          }
        </button>
      </div>
    </form>

  </div>
  <!-- Fondo oscuro del modal -->
  <div class="modal-backdrop bg-black/40 " (click)="cerrarModal()"></div>
</div>
}
