<div class="p-6 min-h-full bg-base-300 text-base-content overflow-auto transition-colors duration-300">

  <!-- Titulo -->
  <h1 class="text-2xl font-bold mb-5 text-base-content ">Gestión de Usuarios</h1>


  <div class="p-4 mb-7 card bg-base-100 shadow-md">

    <!-- CONTENEDOR PRINCIPAL -->
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4">

      <!--  BUSCADOR -->
      <div class="flex flex-col md:flex-row gap-4 items-center w-full md:w-auto">

        <!-- Select tipo -->
        <select class="select select-bordered w-full md:w-60">
          <option value="" disabled selected>Seleccione tipo</option>
          <option value="Secretaria">Secretaria</option>
          <option value="Arbitro">Arbitro</option>
          <option value="Adjudicadores">Adjudicadores</option>
          <option value="Admin">Admin</option>
        </select>

        <!-- Input buscar -->
        <div class="relative w-full md:max-w-xs">
          <input type="text" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-4 text-sm
                 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Buscar por Nombres o DNI"
            [(ngModel)]="filtro" />
          <i class="fa fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>

      </div>

      <!--  BOTONES -->
      <div class="flex gap-2 justify-end w-full md:w-auto">
        <button class="btn btn-primary text-base-content hover:text-white bg-info hover:bg-primary border-none"
          (click)="abrirModal()">
          <i class="fa-solid fa-plus"></i>
          Nuevo
        </button>
      </div>

    </div>

    <!-- Modal -->

    <usuarios-form [mostrarModal]="mostrarModal" [modoEdicion]="modoEdicion" [usuarioSeleccionado]="usuarioSeleccionado"
      (modalCerrado)="cerrarModal()" (usuarioCreado)="cargarDatos()"></usuarios-form>
  </div>


  <!-- Tabla -->
  <div class="p-6 bg-base-100 rounded-xl shadow-xl">

    <div class="overflow-x-auto text-base-content border border-base-300/90 shadow rounded-lg">

      <!-- Selector de cantidad -->
      <div class="flex items-center gap-2 text-sm p-5">
        <label for="">Mostrar: </label>
        <select class="select select-bordered select-sm" [(ngModel)]="limit" (change)="cambiarLimite()">

          <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>

      <!-- Tabla -->
      <table class="table w-full">
        <thead class="bg-base-300/90">
          <tr>
            <th>#</th>
            <th>USUARIO</th>
            <th>CORREO ELECTRÓNICO</th>
            <th>DNI</th>
            <th>TÉLEFONO</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>

        <tbody class="text-black">

          <!-- Loading -->
          @if (loading) {
          <tr>
            <td colspan="7" class="text-center py-4">Cargando usuarios...</td>
          </tr>
          }

          <!-- Data -->
          @for (user of usuarios; track user.id) {
          <tr class="hover">
            <td>{{ (page - 1) * limit + $index + 1 }}</td>

            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img [src]="user.foto_perfil || 'assets/img/default-avatar.png'" alt="Avatar del usuario" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{ user.nombre }}</div>
                  <div class="text-sm opacity-50">{{ user.rol }}</div>
                </div>
              </div>
            </td>

            <td>{{ user.correo }}</td>
            <td>{{ user.documento_identidad }}</td>
            <td>{{ user.telefono }}</td>

            <td>
              <input type="checkbox" class="toggle border-2 transition-all duration-200" [checked]="user.estado"
                (change)="toggleEstadoUsuario(user)" />

              <span class="text-sm ml-2" [ngClass]="user.estado ? 'text-success' : 'text-error'">
                {{ user.estado ? 'Activo' : 'Desactivado' }}
              </span>
            </td>

            <td class="flex gap-2">
              <button class="btn btn-circle" (click)="verUsuario(user)">
                <i class="fa-solid fa-eye"></i>
              </button>

              <button class="btn btn-circle" (click)="abrirModal('editar', user)">
                <i class="fa-solid fa-pencil"></i>
              </button>

              <button class="btn btn-circle" (click)="eliminarUsuario(user.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          }

          <!-- Empty -->
          @if (!loading && usuarios.length === 0) {
          <tr>
            <td colspan="7" class="text-center text-gray-500 py-4">
              No se encontraron usuarios
            </td>
          </tr>
          }

        </tbody>
      </table>

      <!-- Paginador -->
      <div class="flex justify-end items-center p-4 border-t bg-gray-50 text-sm">
        <span>
          Página {{ page }} de {{ totalItems }} registros
        </span>

        <div class="join ml-4">
          <button class="join-item btn btn-sm" [disabled]="page === 1" (click)="cambiarPagina(page - 1)">
            Anterior
          </button>

          <button class="join-item btn btn-sm" [disabled]="page === totalItems" (click)="cambiarPagina(page + 1)">
            Siguiente
          </button>
        </div>
      </div>

    </div>
  </div>

</div>
