<section class="relative w-full min-h-screen ">

  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');">
    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40 "></div>

    <div class=" flex flex-col items-center p-6">
      <!-- Encabezado -->
      <div class="text-center max-w-xl">
        <div class="card bg-base-100 p-10 mx-auto rounded-lg">
          <h1 class="text-4xl font-bold text-info">Contáctanos</h1>
          <p class="mt-2 ">
            Si tienes dudas, sugerencias o deseas más información sobre nuestros servicios de árbitraje,
            completa el siguiente formulario y nos pondremos en contacto contigo.
          </p>

        </div>
      </div>

      <!-- Contenedor -->
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-5xl">
        <!-- Formulario -->
        <div class="card bg-base-200 shadow-xl">
          <div class="card-body">
            <h2 class="card-title text-info">Envíanos un mensaje</h2>

            <!-- Formulario Angular -->
            <form class="space-y-4" (ngSubmit)="enviarFormulario()" >
              <!-- Nombre -->
              <div>
                <label class="label">
                  <span class="label-text">Nombre completo</span>
                </label>
                <input type="text" placeholder="Ingresa tu nombre" class="input input-bordered w-full" name="nombre"
                  [(ngModel)]="contacto.nombre" required />
              </div>

              <!-- Correo -->
              <div>
                <label class="label">
                  <span class="label-text">Correo electrónico</span>
                </label>
                <input type="email" placeholder="ejemplo@correo.com" class="input input-bordered w-full" name="email"
                  [(ngModel)]="contacto.email" required />
              </div>

              <!-- Teléfono -->
              <div>
                <label class="label">
                  <span class="label-text">Teléfono</span>
                </label>
                <input type="text" placeholder="Ingresa tu teléfono" class="input input-bordered w-full" name="telefono"
                  [(ngModel)]="contacto.telefono" />
              </div>

              <!-- Asunto -->
              <div>
                <label class="label">
                  <span class="label-text">Asunto</span>
                </label>
                <input type="text" placeholder="Motivo del mensaje" class="input input-bordered w-full" name="asunto"
                  [(ngModel)]="contacto.asunto" />
              </div>

              <!-- Mensaje -->
              <div>
                <label class="label">
                  <span class="label-text">Mensaje</span>
                </label>
                <textarea class="textarea textarea-bordered w-full" placeholder="Escribe tu mensaje aquí..."
                  name="mensaje" [(ngModel)]="contacto.mensaje" rows="4" required></textarea>
              </div>

              <!-- Archivos -->
              <div>
                <label class="label">
                  <span class="label-text">Adjuntar archivos (opcional)</span>
                </label>
                <input type="file" class="file-input file-input-bordered w-full " multiple
                  (change)="onFileChange($event)" />
                @if (contacto.archivos!.length > 0) {
                <p class="text-xs text-gray-500 mt-1">
                  {{ contacto.archivos!.length }} archivo(s) seleccionado(s)
                </p>
                }

              </div>

              <!-- Botón enviar -->
              <button class="btn btn-info w-full mt-5" type="submit" [disabled]="enviando ">

                @if (!enviando) {
                <span>Enviar mensaje</span>
                }

                @if (enviando) {
                <span class="loading loading-spinner"></span>
                }


              </button>
            </form>
          </div>
        </div>

        <!-- Información de contacto -->
        <div class="card bg-base-200 shadow-xl">
          <div class="card-body">
            <h2 class="card-title text-info">Información de contacto</h2>
            <p class="text-base-content">
              Si prefieres, puedes comunicarte directamente con nosotros a través de los siguientes medios:
            </p>

            <div class="card-body mt-4 space-y-3">
              <!-- Teléfono -->
              <div class="flex items-center space-x-3">
                <span class="material-icons text-primary">Teléfono:</span>
                <span class="text-base-content">+51 987 654 321</span>
              </div>

              <!-- Correo -->
              <div class="flex items-center space-x-3">
                <span class="material-icons text-primary">Email:</span>
                <span class="text-base-content">contacto&#64;firmalegal.com</span>
              </div>

              <!-- Dirección -->
              <div class="flex items-center space-x-3">
                <span class="material-icons text-primary">Dirección:</span>
                <span class="text-base-content">Av. Los Andes 123, Cusco, Perú</span>
              </div>
            </div>

            <!-- Redes sociales -->
            <div class="mt-6 flex space-x-4 text-black">
              <button class="btn btn-circle btn-outline btn-primary">
                <i class="fa-brands fa-facebook-f"></i>
              </button>
              <button class="btn btn-circle btn-outline btn-primary">
                <i class="fa-brands fa-x-twitter"></i>
              </button>
              <button class="btn btn-circle btn-outline btn-primary">
                <i class="fa-brands fa-instagram"></i>
              </button>
              <button class="btn btn-circle btn-outline btn-primary">
                <i class="fa-brands fa-linkedin-in"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>
