<div class="p-6 min-h-screen overflow-y-auto bg-base-300 transition-colors duration-300">

  <!-- <div class="p-6 bg-base-100 rounded-xl shadow-xl ">

  </div> -->

  <!-- <h2 class="text-2xl font-bold mb-6 text-base-content">Mi Perfil</h2> -->

  <div class="p-4 mb-7 card bg-base-100 shadow-md flex flex-col items-start">
    <h1 class="text-2xl font-bold mb-1 text-base-content">Mi Perfil</h1>
    <p class="text-gray-600">Vea y actualice sus datos.</p>
  </div>



  @if (loading) {
  <div class="text-center py-4">Cargando...</div>
  }

  @if (!loading) {

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <!-- Card Foto -->
    <div class="card bg-base-100 shadow-2xl p-4 flex flex-col items-center">
      <img [src]="fotoPreview || 'assets/img/default-avatar.png'" alt="Foto de perfil"
        class="w-40 h-40 rounded-full object-cover mb-4" />

      <input type="file" (change)="seleccionarFoto($event)" class="file-input file-input-bordered w-full max-w-xs"
        accept="image/png, image/jpeg, image/jpg" />
    </div>

    <!-- Card Datos de Perfil -->
    <div class="md:col-span-2 space-y-6">

      <div class="card bg-base-100 shadow-2xl p-6">
        <h3 class="text-lg font-semibold mb-3 text-base-content">Datos del Perfil</h3>

        <form [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil() " class="space-y-4 text-base-content">

          <div class="grid grid-cols-1 md:grid-cols-2 gap-3 ">
            <input formControlName="nombre" placeholder="Nombre" class="input input-bordered w-full" />
            <input formControlName="apellidos" placeholder="Apellidos" class="input input-bordered w-full" />
          </div>

          <input formControlName="correo" placeholder="Correo" class="input input-bordered w-full" />
          <input formControlName="telefono" placeholder="Teléfono" class="input input-bordered w-full" />
          <input formControlName="documento_identidad" placeholder="Documento" class="input input-bordered w-full" />
          <input formControlName="rol" placeholder="Cargo" class="input input-bordered w-full" />

          <button type="submit" class="btn btn-primary w-full">
            Actualizar Perfil
          </button>
        </form>
      </div>

      <!-- Card Contraseña -->
      <div class="card bg-base-100 shadow-2xl p-6">
        <h3 class="text-lg font-semibold text-base-content">Cambiar Contraseña</h3>

        <form [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()" class="mt-4 space-y-3 text-base-content">

          <input formControlName="passwordActual" type="password" placeholder="Contraseña actual"
            class="input input-bordered w-full" />

          <input formControlName="nuevaPassword" type="password" placeholder="Nueva contraseña"
            class="input input-bordered w-full" />

          <input formControlName="repetirPassword" type="password" placeholder="Repetir nueva contraseña"
            class="input input-bordered w-full" />

          <button type="submit" class="btn btn-accent w-full">
            Actualizar Contraseña
          </button>
        </form>
      </div>

    </div>

  </div>

  }


</div>
