<section class="relative min-h-screen ">

  <div class="relative min-h-screen bg-cover bg-center" style="background-image: url('assets/bg-justicia.jpg');">

    <!-- Overlay oscuro -->
    <div class="absolute inset-0 bg-black/40 "></div>

    <div class="flex flex-col items-center justify-center px-4 py-10">
      <div class="card w-full max-w-md bg-base-100 shadow-xl">
        <div class="card-body space-y-5">
          <h2 class="text-center text-xl font-bold text-info">
            Consulta de Expediente
          </h2>

          <!-- FORMULARIO -->
          <form [formGroup]="formConsulta" (ngSubmit)="consultarExpediente()" class="space-y-4">
            <div class="form-control">
              <label class="label">
                <span class="label-text pb-3">Número de expediente</span>
              </label>
              <input type="text" formControlName="numeroExpediente" placeholder="Ej: EXP-2025-001"
                class="input input-bordered w-full" />
              @if (formConsulta.controls['numeroExpediente'].invalid &&
              formConsulta.controls['numeroExpediente'].touched) {
              <span class="text-error text-sm mt-1">Ingrese un número válido.</span>
              }
            </div>

            <button type="submit" class="btn btn-primary w-full" [disabled]="cargando || formConsulta.invalid">
              @if (cargando) {
              <span class="loading loading-spinner"></span> Consultando...
              } @else {
              Consultar
              }
            </button>
          </form>

          <!-- MENSAJES DE ERROR -->
          @if (errorMsg) {
          <div class="alert alert-error text-sm text-white">
            {{ errorMsg }}
          </div>
          }

          <!-- RESULTADO -->
          @if (resultado) {
          <div class="mt-5 p-4 bg-base-300 rounded-lg space-y-2">

            <h3 class="text-lg font-bold text-gray-800 mb-2">Datos del Trámite</h3>
            <p><strong>Número:</strong> {{ resultado.tramite.numero_tramite }}</p>
            <p><strong>Tipo:</strong> {{ resultado.tramite.tipo_solicitud }}</p>
            <p><strong>Descripción:</strong> {{ resultado.tramite.descripcion }}</p>
            <p><strong>Estado:</strong>
              <span class="px-2 py-1 rounded bg-yellow-100 text-yellow-800">
                {{ resultado.tramite.estado }}
              </span>
            </p>
            <p class="mt-2">
              <a [href]="resultado.tramite.archivo_url" target="_blank" class="text-blue-600 underline"> Ver
                documento</a>
            </p>

            <h3 class="text-lg font-bold text-gray-800 mt-6 mb-2">Datos del Participante</h3>
            <p><strong>Nombre:</strong> {{ resultado.usuario.nombre }} {{ resultado.usuario.apellidos }}</p>
            <p><strong>Correo:</strong> {{ resultado.usuario.correo }}</p>
            <p><strong>Teléfono:</strong> {{ resultado.usuario.telefono }}</p>
            <p><strong>DNI:</strong> {{ resultado.usuario.documento_identidad }}</p>

            <h3 class="text-lg font-bold text-gray-800 mt-6 mb-2">Historial</h3>

            @if (resultado.tramite.expediente.historialExpedientes?.length > 0) {
            <div>
              <ul class="space-y-2">

                @for (h of resultado.tramite.expediente.historialExpedientes; track $index) {
                <li class="border rounded-lg p-2">
                  <p><strong>Acción:</strong> {{ h.accion }}</p>
                  <p><strong>Detalle:</strong> {{ h.detalle }}</p>
                  <p class="text-sm text-gray-500">
                    {{ h.fecha_accion | date:'short' }} - {{ h.usuario_responsable }}
                  </p>
                </li>
                }

              </ul>
            </div>
            }
            @else {
            <ng-template #sinHistorial>
              <p class="text-gray-500">No hay historial registrado.</p>
            </ng-template>
            }



          </div>

          <button class="btn btn-primary w-full mt-3" (click)="reset()">Nueva consulta</button>

          }
        </div>
      </div>
    </div>


  </div>


</section>
