<main
  class="flex w-screen h-screen antialiased text-base-content selection:bg-blue-600 selection:text-white bg-base-200">

  <!-- sidebar -->
  <div class="bg-base-100 h-full">
    <side-menu-secretaria />
  </div>

  <!-- Main content -->
  <div class="flex flex-col flex-1 ">
    <!-- Header -->
    <header>
      <nav class="navbar border-gray-200 px-4 lg:px-6 py-2.5 bg-base-100">
        <div class="container mx-auto my-3 xl:max-w-full flex items-center justify-between">
          <!-- Logo a la izquierda -->
          <div class="flex flex-col">
            <h2 class="text-lg font-semibold">
              Bienvenido,
              <span class="text-info font-bold">{{ nombre || 'Usuario' }}</span>
            </h2>
            <p class="text-sm">Rol: {{ rol | capitalize  }}</p>
          </div>
        </div>

        <!-- Menu de usuario a la derecha -->
        <div class="flex items-center ">
          <navbar-menu-secretaria />
        </div>

      </nav>
    </header>

    <!-- Router outlet -->
    <!-- <div class="flex-1 overflow-y-auto"> -->
    <div class="flex-1 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
